div {
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-family: Impact;
}

button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}

button:hover{
    background-color: green;
}

p{
    font-size: 2.2rem;
}

